.button {
    -fx-font-family: 'Minecraft';
    -fx-font-size: 18px;
    -fx-background-color: linear-gradient(#888888, #444444);
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, black, 1, 1, 0, 1);
    -fx-pref-width: 280px;
    -fx-pref-height: 40px;
}

@font-face {
    font-family: 'MinecraftRegular';
    src: url('fonts/MinecraftRegular.otf');
}

.label {
    -fx-font-family: 'MinecraftRegular';
    -fx-font-size: 30px;
}